%form{action: '/add', method: 'post'}
  %ol
    %li
      %label URL
      %input{type: 'text', name: 'url', value: values['url']}
    %li
      %label Title
      %input{type: 'text', name: 'title', value: values['title']}
    %li
      %label Description
      %textarea{name: 'description'}= values['description']
  %ol
    %li
      %input{type: 'submit'}
