!!! 5
%html
  %head
    %title Vulpine - Add links to Pinboard
    = assets :css
    = assets :js
  %body
    %section
      %h1
        Vulpine
        %span
          Add Links to Pinboard
      - if flash[:notice]
        %p.flash
          = flash[:notice]
      = yield
