$border-width: 0.16rem;

// http://www.colourlovers.com/palette/3486085/Friendly_Fox
$color__background: #f97d49;
$color__text: #ffcea5;
$color__highlight: #e9d2c0;
$color__highlight_focus: #7ac7cf;

* { margin: 0; padding: 0; }

body {
  color: $color__text;
  background: $color__background;
  font-family: 'Helvetica Neue', Sans-Serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: $color__text;
  margin-bottom: 2rem;
  span {
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
  }
}

a {
  color: $color__text;
  text-decoration: none;
  border-bottom: $border-width solid $color__text;
  &:focus {
    outline: none;
    border-color: $color__highlight_focus;
  }
}

p.flash {
  height: 1rem;
}

section {
  margin: 2rem auto;
  width: 64rem;
}

form {
  margin-top: 2rem;
  ol {
    list-style: none;
    li {
      margin-bottom: 2rem;
      label {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 0.4em;
      }
      input, textarea {
        font-size: 1rem;
        background: lighten($color__background, 5%);
        border-radius: 4px;
        border: 0 solid $color__highlight;
        border-bottom-width: $border-width;
        padding: 0.8rem;
        width: 64rem - 1.6rem;
        color: $color__text;
        &:focus {
          outline: none;
          border-color: $color__highlight_focus;
        }
      }
      input[type=submit] {
        background: transparent;
        border-radius: none;
        font-size: 1rem;
        color: $color__text;
        padding: 1rem 0;
        border-width: $border-width;
        width: 64rem;
      }
      textarea {
        height: 8rem;
      }
    }
  }
}

::-webkit-resizer {
  background: transparent;
}
